body{
  font-family: Georgia, Times, "Times New Roman", serif;
  background-color: #CEBEBE;
}

.title{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 3%;
}

ol{
  width: 50%;
  margin-left: 23%;
  background-color: #ECE2D0;
  padding: 3%;
}

ol li{
  font-size: 20px;
  font-style: italic;
  line-height: 1.6;
}

ol p{
  text-indent: 35px;
  font-size: 18px;
  line-height: 1.6;
  background-color: #CEBEBE;
  padding: 3%;
}

.paragraph{
  margin-bottom: 2.5%;
}

.imgs{
  text-align: center;
}

img{
  border: 4px #CEBEBE double;
}

img:hover{
  border-style: solid;
}
